{% extends 'base_template.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<h1>User Guide</h1>
<p>Information on how to use the database and the available parameters</p>

<style>
    table {
        width: 60%;
        border-collapse: collapse;
        border-radius: 10px; /* Adjust the radius for the roundness */
    }
    table, th, td {
        border: 2px solid black;
        background-color: #fafafa;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    th {
        background-color: #b0b0b0;
    }
    code {
        color: #f14f4f;
        font-size: 13pt;
    }
</style>
<h2>Parameters and Their Explanations</h2>

<table id="parameter_table">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>SSO Number</code></td>
            <td>The number of an asteroid.</td>
        </tr>
        <tr>
            <td><code>SSO Name'</code></td>
            <td>The name of an asteroid.</td>
        </tr>
        <tr>
            <td><code>Provisional designation</code></td>
            <td>The year of asteroid's discovery and an alphanumeric code indicating the half-month of discovery and the sequence within that half-month.</td>
        </tr>
        <tr>
            <td><code>Orbital class</code></td>
            <td>The class of an object based on its orbit</td>
        </tr>
        <tr>
            <td><code>a</code></td>
            <td>Semi-major axis of the orbit of an asteroid in astronomical units (AU)</td>
        </tr>
        <tr>
            <td><code>e</code></td>
            <td>Eccentricity of the orbit of an asteroid (from 0 to 1)</td>
        </tr>
        <tr>
            <td><code>i</code></td>
            <td>Inclination of the orbit of an asteroid (degrees)</td>
        </tr>
        <tr>
            <td><code>Absolute magnitude</code></td>
            <td> The magnitude of an asteroid 1 AU away from observer and the Sun </td>
        </tr>
        <tr>
            <td><code>Diameter</code></td>
            <td>The effective size of an asteroid in kilometers (km) </td>
        </tr>
        <tr>
            <td><code>Diameter Error </code></td>
            <td>The uncertainty of the asteroid's diameter</td>
        </tr>
        <tr>
            <td><code>Albedo</code></td>
            <td>The fraction of sunlight that is diffusely reflected by an asteroid.</td>
        </tr>
        <tr>
            <td><code>Albedo Error</code></td>
            <td>The uncertainty of the asteroid's albedo</td>
        </tr>
        <tr>
            <td><code>Taxonomy class</code></td>
            <td>An asteroid spectral type is assigned to asteroids based on their reflectance spectrum, color, and albedo.</td>
        </tr>
    </tbody>
</table>
{% endblock %}