{% extends 'base_template.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/welcome_page.css') }}">
<body>

    <main class="welcome-section">
        <div class="container text-center text-light">
            <h1 class="mb-3">Welcome to the Database of M-type Asteroids</h1>
            <p class="mb-4">
                This is a database of M-type asteroids, known for their metallic composition. Discover, analyze, and visualize asteroid data in one comprehensive platform.
            </p>
            <a href="{{ url_for('main.asteroid_table') }}" class="btn btn-primary btn-lg">Go to the Database</a>
        </div>
    </main>

    <div class="d-flex justify-content-center align-items-center flex-wrap" id="logosContainer">
        <img src="{{ url_for('static', filename='imgs/logo_up.jpeg') }}" alt="KharAsterTeam Logo" class="partner-logo">
        <img src="{{ url_for('static', filename='imgs/emblem_university.jpg') }}" alt="University Logo" class="partner-logo">
        <img src="{{ url_for('static', filename='imgs/ndi.png') }}" alt="Observatory Logo" class="partner-logo">
    </div>


    <footer class="bg-dark text-light py-3">
        <div class="container text-center">
            <p>
                This work was partially supported by the National Research Foundation of Ukraine within the framework of the project N2020.02/0371
                "Metallic asteroids: search for parent bodies of iron meteorites, sources of extraterrestrial resources".
            </p>
        </div>
    </footer>

</body>
{% endblock %}
